aospy
cartopy
cdo
cftime
cmocean
cmocean
curl
dask
distributed
echopype
eofs
fortran-magic
git
git-lfs
gsw
haversine
hdf5
ipykernel
ipython
iris
iris-sample-data 
jupyter
line_profiler
matplotlib
nco
netCDF4
numpy
opencv
owslib
pandas 
pytables
python-cdo
rasterio
scikit-learn
scipy
seaborn
seawater 
utm
xarray
zarr